@tailwind base;
@tailwind components;
@tailwind utilities;

.title_underline::after {
  content: "<div class=" bg-blue-600 mt-3 h-1 w-20 rounded-full "></div>";
}

.cover_bg {
  background-image: url(./assets/imgs/cover_bg.jpg);
}

.profile_bg {
  background-image: url(./assets/imgs/handle_bg_male_animated.gif);
}

.ss_card_bg {
  background-image: url(./assets/imgs/ss_card.png);
}
